$text_green: #368d66;
$red: #DC3545;
$blue: #0B5ED7;
$white: #f8f9fa;
$orange: #ffb10a;
$hover_orange: #ffc342;
$green: #00a082;
$hover_green: #12bb9c;
$gray: #6C757D;
$white_btn: #DEE2E6;
$light_green: #97E3E4;