@import './reset';
@import './_utilities';
@import './_color';
@import './components/form';
@import './components/_button';
@import './components/_upload';
@import './components/_glasscard';
@import './components/_glassmodal';
@import './components/_dropdown';
@import './components/_navbar';
@import './components/_button';
@import './views/home';
@import './views/index';
@import './views/show';
@import './views/show-orders';

@import '~bootstrap/scss/bootstrap';

body {
    visibility: visible;
    font-family: "Nunito", sans-serif;

    background-color: #fdfdfd;
}

main {
    height: calc(100vh - 80px);
    overflow: auto;
}

main::-webkit-scrollbar {
    width: 5px;
}

main::-webkit-scrollbar-track {
    background: $white;
}

main::-webkit-scrollbar-thumb {
    background: rgba(42, 41, 41, 0.383);

}

body::-webkit-scrollbar {
    width: 0;
}

.asterisk {
    font-size: 12px;
}