header {
    min-height: 80px;
    background-image: linear-gradient(to left, #1e498b, #006fac, #0095bd, #00b8c0, #49daba);
    background-size: cover;
    font-weight: 600;

    .navbar {
        height: 100%;
    }

}

#logo {
    width: 60px;
    height: auto;
}